* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 25px 0;
  font-family: "Fira Sans";
  font-size: 1em;
  /* color: #ffffff; */
  /* background-color: #d9ef81; */
  /* background-image: linear-gradient(to right, #6cbe03, #f4a700); */
}
.container {
  max-width: 1234px;
  margin: 0 auto;
}
/* Begin header & navbar css */
.header {
  margin-bottom: 50px;
}
.header a {
  display: block;
  color: #333333;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  padding: 0px 20px;
  transition: all 0.25s ease-in-out 0s;
  background-blend-mode: overlay;
}
.header a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgb(31 47 71 / 25%) 0px 20px 40px, rgb(0 0 0 / 10%) 0px 1px 5px,
    rgb(255 255 255 / 40%) 0px 0px 0px 0.5px inset;
}
.nav {
  height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.menu ul {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 10px;
  list-style: none;
}
#hidden-menu {
  z-index: 999;
  grid-template-columns: auto !important;
  position: absolute;
  margin-top: 10px;
  padding: 20px;
  background: rgba(15, 14, 71, 0.3);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px) brightness(80%) saturate(150%);
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transform-origin: center top;
}
#hidden-menu a {
  color: #ffffff;
}
#search-form {
  z-index: 999;
  position: absolute;
  max-width: 360px;
  width: 100%;
  min-width: 320px;
  margin-top: 10px;
  gap: 10px;
  padding: 10px;
  right: 0px;
  background: rgba(15, 14, 71, 0.3);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px) brightness(80%) saturate(150%);
  border-radius: 10px;
  pointer-events: visible;
  opacity: 1;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transform-origin: center top;
  transform: skewY(0deg) rotate(0deg) translateY(0px);
}
#search-form .form-control {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(
    rgba(99, 106, 150, 0.4) 0%,
    rgba(182, 186, 214, 0.25) 100%
  ); */
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 15%) 0px 20px 40px,
    rgb(255 255 255 / 30%) 0px 0px 0px 0.5px inset;
  box-sizing: border-box;
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: rgb(255, 255, 255);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
#myModal {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px) saturate(100%);
}
/* End header & navbar css */

.session-calc {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.calc-switch {
  min-width: 300px;
}
.calc-switch a {
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background-color: #7c41cb;
  text-align: center;
  width: 100%;
  border: 1px solid #eeeeee;
  text-decoration: none;
  display: block;
}
.calc-active {
  align-self: stretch;
  flex-grow: 1;
}

#bmi-calc {
  display: none;
}
#ibw-calc {
  display: none;
}
#dci-calc {
  display: none;
}
#cb-calc {
  display: none;
}

@media (max-width: 1024px) {
  .session-calc {
    flex-flow: row wrap;
  }
  .calc-switch {
    width: 100%;
  }
}
