* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 25px 50px;
    font-family: "Fira Sans";
    font-size: 1em;
    /* color: #ffffff; */
    /* background-color: #d9ef81; */
    /* background-image: linear-gradient(to right, #6cbe03, #f4a700); */
}
.container {
    max-width: 1234px;
    margin: 0 auto;
}
hr {
    color: #444444;
    width: 900px;
    margin-top: 30px;
    margin-left: 120px;
}

.menu-scroll {
    margin-top: 50px;
    margin-bottom: -20px;
    margin-left: 130px;
    text-align: center;
}
.row{
    text-align: center;
    margin: 50px 20px;
}

.list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 10px;
    list-style: none;
}

.media{
    margin-left: 60px;
    margin-bottom: 25px;

}
.headings{
    text-align: center;
}

.headings a{
    font-weight: 600px;
    font-size: 40px;
}
.description{
    margin: 10px 120px;
    line-height: 1.7;
}

.section{
    float: left;
    width: 100%;
}

.box {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: start;
    justify-content: space-between;
    grid-gap: 40px 40px;

    float: left;
    padding: 0 20px;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.4;
}

.grid {
    display: grid;
    grid-template-columns: 330px 330px;
    align-items: start;
    justify-content: space-between;
    grid-gap: 30px 70px;

    float: left;
    padding: 0 20px;
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.5;
}

.media2 {
    margin-left: 80px;
}
.heading2 {
    margin-left: -270px;
    margin-top: -160px;
    margin-bottom: 100px;
    text-align: center;
}

.c-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: -1000px;
}

.box {
 .hover {
     font-size: 36px;
     text-align: center;
     margin: 0 auto;
     padding: 0;
     transition: $ animate;
     position: relative;

&
:before,
&
:after {
    left: 0;
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: $ animate;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: darken(orange, 5%);
}
}
}