* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main {
    overflow: hidden;
    margin-top: 150px;
}

.event-heading {
    display: block;
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
}

.banner-top {
    margin-top: 60px;
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.event-time {
    width: 230px;
    height: 260px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    top: 16%;
    left: 20%;
}

.date-time {
    height: 60px;
    position: relative;
    overflow: hidden;
    padding: 2px 0 0 24px;
}

.red-background {
    position: absolute;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 86px 60px;
    border-color: #fc3c2a transparent transparent #fc3c2a;
    z-index: -1;
}

.date {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.month {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.4rem;
}

.time {
    width: 100%;
    display: flex;
    padding: 16px 10px 8px;
    border-bottom: 1px solid #e6e6e6;
}

.icon-time {
    color: red;
    font-size: 2rem;
    margin-right: 10px;
}

.time p {
    margin: 0;
    font-size: 1.4rem;
}

.address-event {
    padding: 16px 20px 8px 10px;
    display: flex;
}

.icon-address {
    color: red;
    font-size: 2rem;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.address-event p {
    font-size: 1.4rem;
}

.addr {
    display: block;
    margin-left: 40px;
    margin-right: 56px;
    font-size: 1.4rem;
}

.info.col {
    margin-top: 60px;
    padding-right: 60px;
}

.des {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.achievements {
    margin-top: 60px;
}

.icon-cup {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.6rem;
    color: #fc3c2a;
    padding-bottom: 10px;
    border-bottom: 1px solid #fc3c2a;
}

.line-cup {
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    top: -1px;
    z-index: -1;
}

.list-cup {
    margin-top: 30px;
    margin-left: 30px;
    list-style: square outside url("/assets/image/icon--check.png");
    font-size: 1.6rem;
}

.item-cup {
    padding: 4px;
}

.list-price {
    margin-top: 30px;
    margin-left: 0;
    list-style: none;
    font-size: 1.6rem;
}

.item-price {
    display: flex;
    justify-content: space-between;
    padding: 12px 4px 4px 4px;
    border-bottom: 1px solid #e6e6e6;
}

.item-price p {
    width: 30%;
}

.item-price p:last-child {
    text-align: right;
}

.item-price p:nth-child(2) {
    text-align: center;
}

.trainer {
    margin-top: 60px;
}

.trainer-heading {
    width: 20%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #fc3c2a;
    text-align: center;
}

.trainer-heading h2 {
    font-size: 3rem;
}

.trainer-line {
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    top: -1px;
    z-index: -1;
}

.trainer-info {
    margin-top: 30px;
}

.trainer-img {
    width: 100%;
    overflow: hidden;
}

.trainer-img img {
    width: 100%;
    transform: scale(1);
    transition: ease 0.4s;
}

.trainer-img img:hover {
    transform: scale(1.2);
    transition: ease 0.4s;
}

.trainer-name {
    margin: 10px 0 0 10px;
    font-size: 2.4rem;
    font-weight: 700;
}

.trainer-des {
    margin: 0 10px;
    font-size: 1.6rem;
    font-weight: 700;
}

.line-train {
    margin: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.trainer-email {
    color: #fc3c2a;
    font-size: 1.6rem;
    margin-left: 10px;
}

.trainer-info a {
    text-decoration: none;
}

.trainer-email:hover {
    color: #c01000;
}

.trainer-mobie {
    font-size: 1.6rem;
    margin-left: 10px;
}

.trainer-contact a {
    color: #e6e6e6;
    font-size: 2.4rem;
    padding: 8px;
}

.trainer-contact a:hover {
    color: #fc3c2a;
}

.line-bot {
    margin: 30px 0;
    border-bottom: 1px solid #e6e6e6;
}

.ringt-main {
    margin-top: -50px;
    background-color: #fff;
    padding: 30px 20px;
}

.right-title {
    font-size: 2.6rem;
    margin: 0 20px;
}

.line-right {
    margin: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.class-info {
    list-style: none;
    padding: 20px;
}

.class-item {
    display: flex;
    font-size: 1.4rem;
}

.class-item p {
    width: 50%;
    display: block;
}


/* circle persen */

.wrapper {
    margin-top: 20px;
    margin-left: 60px;
    width: 200px;
    /* Set the size of the progress bar */
    height: 200px;
    position: absolute;
    /* Enable clipping */
    clip: rect(0px, 140px, 140px, 70px);
    /* Hide half of the progress bar */
}


/* Set the sizes of the elements that make up the progress bar */

.circle {
    width: 134px;
    height: 134px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 80px;
    position: absolute;
    clip: rect(0px, 70px, 140px, 0px);
}


/* Using the data attributes for the animation selectors. */


/* Base settings for all animated elements */

div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;
    /* Only run once */
    -webkit-animation-fill-mode: forwards;
    /* Hold the last keyframe */
    -webkit-animation-timing-function: linear;
    /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
    -webkit-animation-duration: 0.01s;
    /* Complete keyframes asap */
    -webkit-animation-delay: 1s;
    /* Wait half of the animation */
    -webkit-animation-name: close-wrapper;
    /* Keyframes name */
}

.circle[data-anim~=left] {
    -webkit-animation-duration: 1.2s;
    /* Full animation time */
    -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
    -webkit-animation-duration: 1s;
    /* Half animation time */
    -webkit-animation-name: right-spin;
}


/* Rotate the right side of the progress bar from 0 to 180 degrees */

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}


/* Rotate the left side of the progress bar from 0 to 360 degrees */

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(216deg);
    }
}


/* Set the wrapper clip to auto, effectively removing the clip */

@-webkit-keyframes close-wrapper {
    to {
        clip: rect(auto, auto, auto, auto);
    }
}

.wrapper p {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 1;
}

.circle1 {
    width: 134px;
    height: 134px;
    border-radius: 70px;
    border: 3px solid #ddd;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 73px;
}